/* Place all of your CSS Code in this file */

/********************************************************************************* 
*
* WEB222 – Assignment #4a
*
* I declare that this assignment is my own work in accordance with Seneca 
* Academic Policy. No part of this assignment has been copied manually or 
* electronically from any other source (including web sites) or distributed to 
* other students. 
* 
* Name: Vincent Terpstra Student ID: 140665175 Date: July 12 2018 
* 
********************************************************************************/

body { color:#606060; }

nav, footer { background-color:#006585;}

header { border: 5px solid; text-align:center}

.app-title {
    /*font 'Press Start 2P' loaded in HTML*/
    font-family: 'Press Start 2P','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    text-shadow: 4px 4px 4px #afafaf

}

.main-table-container {
    max-height:600px;
    overflow-y:auto;
    cursor:wait;
}

.main-table-top th {
    background-color:#6f6f6f;
    border-right:2px solid white;
    border-bottom:2px solid white;
    color:white;
}

.main-table td{
    border: 1px solid white;
    background-color:#dfdfdf;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    vertical-align:top;
}

.main-table p span {
    font-size: 1.2em;
    font-style:oblique;
}

