html{
    background-color:#F3F3F3;
}

body { color:#606060; }

nav, footer { background-color:#006585; !important}

header { border: 5px solid; text-align:center}

body {
    overflow-y: scroll;
	overflow-x:hidden;
    font-family: Tahoma, sans-serif;
    font-size: 11pt;
    background: #ffffff;
    color: #333;
}

nav {
    height: 40px;
    border: #000 solid 1px;
    margin-bottom:20px;
}

ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0 0 0 -12px;
	padding:0px;
}

li {
    float: left;
}

ul li a, ul li span {
    padding: 10px 12px 13px 12px;
    display: block;
    line-height: 40px;
    font: 95% Tahoma, sans-serif;
    color: #ddd;
    text-decoration: none;
}

a:hover {
    cursor:pointer;
}

header {
	padding-top:1px;
	margin-bottom:0px;
}

footer {
    	width: 100%;
    	border: #000 solid 1px;  
    	text-align: left;
}

footer ul li a, footer ul li span {
   color: #606060;
}
.hide {
	display:none
}

#app-title , footer ul li a, footer ul li span {
    font-family: 'Press Start 2P','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
font-weight:bold;
}

