

body { color:#606060; }

nav, footer { background-color:#006585;}

header { border: 5px solid; text-align:center}



html{
    background-color:#F3F3F3;
}

body {
    overflow-y: scroll;
	overflow-x:hidden;
    font-family: Tahoma, sans-serif;
    font-size: 11pt;
    background: #ffffff;
    color: #333;
}

nav {
    height: 40px;
    border: #000 solid 1px;
    margin-bottom:20px;
}

ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0 0 0 -12px;
	padding:0px;
}

li {
    float: left;
}

ul li a {
    padding: 10px 12px 13px 12px;
   
    
    display: block;
    line-height: 40px;
    font: 95% Tahoma, sans-serif;
    color: #ddd;
    text-decoration: none;
}

ul li span {
    padding: 10px 3px 13px 3px;
    display: block;
    line-height: 40px;
    font: 95% Tahoma, sans-serif;
    color: #ddd;
    text-decoration: none;
}


ul li a:hover {
    color: #fff;
    cursor:pointer;
}

header {
	padding-top:1px;
	    margin-bottom:0px;
}

footer {
	display: block;
    	width: 100%;
    	border: #000 solid 1px;  
    	text-align: left;
	position: fixed;
	left: 0;
	bottom: 0;
}

.main {
    min-height: 460px;
}

.center{
	max-width:960px;
	margin:0 auto;
	padding-left:20px;
	padding-right:20px;
}

.main-table, .main-table-top{
    
    border-collapse: collapse;
    width:100%;
    font-size:13px;
}

.main-table td:first-of-type, .main-table-top th:first-of-type{
    width: 120px;
}

.hide {
	display:none
}

#app-title , footer ul li a, footer ul li span {
    font-family: 'Press Start 2P','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
font-weight:bold;
}
